<br/>
<div class="container">
    <h4>Módulo registro de nuevos usuarios</h4>
</div>
<div class="container">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="formulario" (ngSubmit)="save()" class="needs-validation">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" formControlName='nombre' name="nombre" aria-describedby="emailHelp" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail12" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="exampleInputEmail12" formControlName='apellido' name="apellido" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail13" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail13" formControlName='correo' name="correo" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName='contrasenia' name="contrasenia" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword12" class="form-label">Verificar Password</label>
                    <input type="password" class="form-control" formControlName='verificarContrasenia' name="verificarContrasenia" id="exampleInputPassword12">
                </div>
                <div class="text-end">
                    <button (click)="salir()" class="btn btn-primary">Salir</button>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
      </div>
</div>
