<hr>
<div class="container">
    <h4>Bienvenido al sistema de gestión de finanzas personales (SiGF)</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <img src="../../../assets/imagenes/images1.jpeg" alt="...">
              <hr>
              <p class="card-text mensaje">“No ahorres lo que queda después de gastar, sino gasta lo que queda después de ahorrar.” -Warren Buffett.</p>
              <br>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Importancia de las finanzas personales</h5>
              <p class="card-text">La organización de las finanzas personales es una tarea que requiere tiempo, metodología y paciencia, dado que estamos obligados a seguir unos pasos sistemáticos, si realmente queremos tener una economía doméstica y familiar libre de sobresaltos.</p>
              <p class="card-text">Nuestra vida no es monótona y todos tenemos unas metas, a realizar a corto, medio o largo plazo. Para planificar adecuadamente nuestras finanzas personales en el tiempo debemos proceder a fijarnos una serie de objetivos. Dentro de estos objetivos podemos enumerar por ejemplo:
            </p>
                
                 <ol>
                    <li>Eliminar todas las deudas de nuestro balance actual.</li>
                    <li>Ahorrar para cambiar de vivienda.</li>
                    <li>Mejorar nuestra economía doméstica para darnos unas vacaciones.</li>
                    <li>Preparar los estudios y educación de nuestros hijos.</li>
                  </ol>
                
               <button (click)="moduloRegistro()" class="btn btn-success">Registrarse</button>
            </div>
          </div>
        </div>
      </div>
</div>

